/* Crafted with love by wolfcreative.ru :3 */
@font-face{font-family:'Gilroy Regular';src:url(../fonts/Gilroy-Regular.eot);src:url(../fonts/Gilroy-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Regular.woff) format("woff"),url(../fonts/Gilroy-Regular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Light';src:url(../fonts/Gilroy-Light.eot);src:url(../fonts/Gilroy-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Light.woff) format("woff"),url(../fonts/Gilroy-Light.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Bold';src:url(../fonts/Gilroy-Bold.eot);src:url(../fonts/Gilroy-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Bold.woff) format("woff"),url(../fonts/Gilroy-Bold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Semibold';src:url(../fonts/Gilroy-SemiBold.eot);src:url(../fonts/Gilroy-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-SemiBold.woff) format("woff"),url(../fonts/Gilroy-SemiBold.ttf) format("truetype");font-weight:400;font-style:normal}

%container-padding{
    padding:55px 0 60px;
    @media(max-width:959px){padding:45px 0 55px}
}
body{
    margin:0 auto;font-family:'Gilroy Regular',sans-serif;font-size:16px;line-height:24px;color:#000;
    @media(max-width:959px){font-size:14px;line-height:21px}
}
.uk-container{max-width:1170px}
a{color:#000;transition:.2s ease-in-out}
a:hover,a:focus{color:#8a8a8a;text-decoration:none;transition:.2s ease-in-out}
b,strong{font-weight:normal;font-family:'Gilroy Bold',sans-serif}
sup{font-size:11px}
p{font-family:'Gilroy Light',sans-serif}

$color-yellow:#fdbe0a;

.header{
    background:url(../img/backgrounds/header.jpg) no-repeat center bottom / cover;position:relative;padding-bottom:70px;

    // Leaf
    @media(min-width:1440px){
        &:before{content:'';background:url(../img/awesome/leaf.png) no-repeat;width:311px;height:85px;position:absolute;left:0;bottom:-30px}
    }

    header{
        @media(max-width:639px){>.uk-container{padding:0}}

        .first{
            padding-top:13px;padding-bottom:13px;

            .uk-button-ghost{
                color:#000;border-color:transparent;
            }
        }

        .second{
            .uk-navbar-nav{
                border-top:1px solid #c8c9ca;
                @media(max-width:1199px) and (min-width:960px){margin-left:-15px}
    
                >li>a{
                    min-height:42px;color:#000;font:16px 'Gilroy Light',sans-serif;text-transform:none;
                    &:hover,&:focus{background:#f1f1f1}
                }
            }

            // Если липкое-меню активно
            &.uk-active{
                background:rgba(255,255,255,0.97);box-shadow:0 7px 10px -5px rgba(0,0,0,.1);padding:6px 0;
    
                .uk-navbar-nav{
                    border:none;

                    >li>a{
                        color:#111;
                        &:hover,&:focus{background:#fff}
                    }
                }
            }
        }

        .uk-navbar-toggle{min-height:38px;color:#111}
    }

    .info{
        max-width:640px;margin-top:60px;color:#000;
        @media(max-width:959px){margin-top:35px}
        @media(max-width:639px){br{display:none}}

        hr{max-width:509px;border-top:2px solid #323548}
        
        p{
            font:24px 'Gilroy Regular',sans-serif;margin-top:25px;
            @media(max-width:959px){font-size:20px;margin-top:15px}
            @media(max-width:639px){font-size:18px}
        }

        .exclamation{
            .mark{font:48px 'Gilroy Bold',sans-serif;color:$color-yellow}
            .text p{
                font-size:18px;font-style:italic;
                @media(max-width:639px){font-size:14px}
            }
        }

        .uk-button{margin-top:50px}
    }
}

.about{
    @extend %container-padding;

    @media(min-width:960px){p{max-width:580px}}

    .advantages{
        .circle{display:inline-block;background:#fff;border-radius:100px;box-shadow:0 5px 29px 0px rgba(0, 0, 0, 0.13);margin-bottom:14px;padding:25px 23px}
        span{display:block}
    }
}


.special{
    @extend %container-padding;

    background:#ccc no-repeat center / cover;overflow:hidden;

    h2{margin:-10px 0 15px}

    h2,p{color:#fff}

    p{
        font:30px 'Gilroy Regular',sans-serif;
        @media(max-width:959px){font-size:20px}
        @media(max-width:439px){font-size:18px}

        strong{color:$color-yellow}
    }
    *+p{margin-top:15px}

    .uk-input{
        height:71px;border-radius:100px;font-size:18px;padding-left:35px;
        &::placeholder{color:#111}
    }

    .uk-slider{
        .uk-panel{background:#fff;border-radius:4px;padding:15px 10px}

        .uk-slidenav{color:$color-yellow}
    }
}

.services{
    @extend %container-padding;

    .uk-grid{
        img{width:100%;transition:.1s all ease-in-out}
        img:hover{opacity:.9;transition:.1s all ease-in-out}

        p{font-size:14px;line-height:normal}

        .link{
            font:14px 'Gilroy Bold',sans-serif;color:$color-yellow;
            &:hover{color:darken($color-yellow, 10%)}
        }
    }
}

.prefooter{
    @extend %container-padding;

    min-height:420px;background:url(../img/backgrounds/prefooter.jpg) no-repeat center / cover;overflow:hidden;padding:65px 0 25px;box-sizing:border-box;
    
    .info{
        width:665px;padding-right:190px;box-sizing:border-box;
        @media(max-width:1099px){padding:10px 25px}
        @media(max-width:639px){padding:10px 5px}

        h2,p{color:#fff}
    }
}

footer{
    background:#1a1a20;color:#fff;padding:25px 0 18px;
    
    .second{
        border-bottom:1px solid #37373b;padding-bottom:20px;margin-bottom:12px;
        
        .uk-navbar-nav{
            @media(max-width:1199px) and (min-width:960px){margin-left:-15px}

            >li>a{
                min-height:34px;color:#fff;font:14px 'Gilroy Light',sans-serif;text-transform:none;
                &:hover,&:focus{background:#343434}
            }
        }
    }

    .privacy>a{font-size:14px;color:#fff}
}

// Accordion
.uk-accordion{
    >div{
        background:#fff;padding:19px 30px;box-shadow:0 11px 18px 0px rgba(0, 0, 0, 0.07);
        &:not(.uk-open):hover{background:#fafafa}
        &:nth-child(n+2){margin-top:25px}

        .uk-accordion-title{
            font:21px/29px 'Gilroy Regular',sans-serif;
            @media(max-width:959px){font-size:20px}
            @media(max-width:639px){font-size:18px;line-height:normal}

            &:before{width:21px;height:12px;background-image:url(../img/awesome/accordion-chevron.png);margin-top:7px}
        }
        &.uk-open .uk-accordion-title:before{transform:rotate(-180deg)}

        .uk-accordion-content{padding-bottom:5px}
    }
}

.uk-modal{
    &.uk-modal-text{
        .uk-modal-dialog{
            max-width:1140px!important;width:100%;border-radius:4px;

            
        }
    }
}

// Headers
h1,h2,h3{font-family:'Gilroy Bold',sans-serif;line-height:normal;color:#111}
h1{
    font-size:48px;line-height:1.2;
    @media(max-width:959px){font-size:43px}
    @media(max-width:639px){font-size:34px;line-height:normal}
    @media(max-width:439px){font-size:26px}
}
h2{
    font-size:36px;
    @media(max-width:959px){font-size:30px}
    @media(max-width:639px){font-size:26px}
    @media(max-width:439px){font-size:22px}
}
h3{
    font-size:18px;text-transform:uppercase;
    @media(max-width:439px){font-size:16px}
}

// Buttons
.uk-button{
    border-radius:100px;text-transform:none;

    &.uk-button-ghost{
        background:transparent url(../img/awesome/phone-ghost.png) no-repeat left 10px center;color:#fff;font:14px/36px 'Gilroy Bold',sans-serif;border:1px solid $color-yellow;padding:0 15px 0 48px;
        &:hover,&:focus{background:$color-yellow;color:#000}
    }
    &.uk-button-yellow{
        background:$color-yellow;color:#000;padding:0 45px;
        &:hover,&:focus{background:darken($color-yellow, 7%)}
    }

    &.uk-button-medium{
        font:18px/56px 'Gilroy Bold',sans-serif;padding:0 35px;box-shadow:0 11px 46px 0px rgba(237, 189, 47, 0.39);
        @media(max-width:439px){padding:0 20px}
    }
    &.uk-button-large{
        font:24px/71px 'Gilroy Bold',sans-serif;padding:0 110px;box-shadow:0 11px 46px 0px rgba(237, 189, 47, 0.39);
        @media(max-width:1279px){padding:0 70px}
        @media(max-width:959px){font-size:18px;line-height:52px}
        @media(max-width:439px){padding:0 45px}
    }
}

// UiKit Replace
.uk-input{height:48px;border-radius:4px}
.uk-lightbox{background:rgba(0, 0, 0, 0.9)}
.uk-modal-title{font-size:26px}